In [15]:
import pandas as pd
import matplotlib.pyplot as plt

data=pd.read_csv('bmi_500.csv',index_col='Label')
d=pd.read_csv('bmi_500.csv')
print(data)

                 Gender  Height  Weight
Label
Obesity            Male     174      96
Normal             Male     189      87
Obesity          Female     185     110
Overweight       Female     195     104
Overweight         Male     149      61
...                 ...     ...     ...
Extreme Obesity  Female     150     153
Obesity          Female     184     121
Extreme Obesity  Female     141     136
Extreme Obesity    Male     150      95
Extreme Obesity    Male     173     131

[500 rows x 3 columns]

In [6]:
data.head()

            Gender  Height  Weight
Label
Obesity       Male     174      96
Normal        Male     189      87
Obesity     Female     185     110
Overweight  Female     195     104
Overweight    Male     149      61

In [7]:
data

                 Gender  Height  Weight
Label
Obesity            Male     174      96
Normal             Male     189      87
Obesity          Female     185     110
Overweight       Female     195     104
Overweight         Male     149      61
...                 ...     ...     ...
Extreme Obesity  Female     150     153
Obesity          Female     184     121
Extreme Obesity  Female     141     136
Extreme Obesity    Male     150      95
Extreme Obesity    Male     173     131

[500 rows x 3 columns]

In [8]:
data.head()

            Gender  Height  Weight
Label
Obesity       Male     174      96
Normal        Male     189      87
Obesity     Female     185     110
Overweight  Female     195     104
Overweight    Male     149      61

In [9]:
data.describe()

           Height      Weight
count  500.000000  500.000000
mean   169.944000  106.000000
std     16.375261   32.382607
min    140.000000   50.000000
25%    156.000000   80.000000
50%    170.500000  106.000000
75%    184.000000  136.000000
max    199.000000  160.000000

In [11]:
data.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [16]:
x=d.Height
print(x)

0      174
1      189
2      185
3      195
4      149
      ...
495    150
496    184
497    141
498    150
499    173
Name: Height, Length: 500, dtype: int64

In [17]:
x.describe()

count    500.000000
mean     169.944000
std       16.375261
min      140.000000
25%      156.000000
50%      170.500000
75%      184.000000
max      199.000000
Name: Height, dtype: float64

In [19]:
from sklearn.tree import DecisionTreeRegressor

ModuleNotFoundError: No module named 'sklearn'

In [22]:
import numpy as np
n=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(np.dot(n,2))

[[ 2  4  6]
 [ 8 10 12]
 [14 16 18]]